In [ ]:
Standard SQL Query Statement:

SELECT something FROM table WHERE condition;

Statement Format:
 - CAPITALIZED WORDS: Actual SQL Query Syntax
 - lowercase words: User Input

In [ ]:
SELECT: to use for all queries that return values, it is the main way to access the database
FROM: to specify the table to access
WHERE: to specify to the query the condition to filter the table data access

In [ ]:
Sorting:

To sort a table SQL uses the ORDER BY statement, which is placed at the end of the query statement.

Example:

ORDER BY column_name ASC/DESC;

ORDER BY column1, column2, ... ASC/DESC;

SELECT column1, column2, ... FROM table_name ORDER BY column1, column2, ... ASC/DESC;

In [ ]:
LIMIT: to limit the number of rows returned by the query

OFFSET: to specify the number of rows to skip before starting to return rows from the query